<div class="calendar">
    <div class="calendar-header">
      <button class="btn btn-primary" (click)="previousMonth()">&#9664;</button>
      <span>{{ currentMonth | date: 'MMMM yyyy' }}</span>
      <button class="btn btn-primary" (click)="nextMonth()">&#9654;</button>
    </div>
    <div class="calendar-grid">
      <div *ngFor="let weekday of weekdays" class="weekday-header">{{ weekday }}</div>
      <div *ngFor="let day of daysInMonth" [ngClass]="{
        'weekend': isWeekend(day),
        'market-off-us': isMarketOffUS(day),
        'market-off-uk': isMarketOffUK(day),
        'market-off-both': isMarketOffBoth(day)
      }" [title]="getHolidayReason(day)">
        <div>{{ day ? day.getDate() : '' }}</div>
      </div>
    </div>
    <div class="holiday-indicators">
      <div class="holiday-caption">Market Closed</div>
      <div class="indicator">
        <span class="dot uk-color"></span>
        <span>UK</span>
      </div>
      <div class="indicator">
        <span class="dot us-color"></span>
        <span>US</span>
      </div>
    </div>
  </div>
  