<div class="container container-custom" [ngClass]="{'dark-mode': isDarkMode}">
    <div class="flex-end-wrapper">
      <div class=" card-flex-end">
        <div class="market-status-card">
            <div class="market-header">Market Status</div>
            <div class="market-info">
              <div class="market">
                <span class="market-name">US Market (2:30 PM - 21:00 PM):</span>
                <span class="market-status" [ngClass]="{'open': usMarketStatus === 'Open', 'closed': usMarketStatus === 'Closed'}">{{ usMarketStatus }}</span>
              </div>
              <div class="market">
                <span class="market-name">UK Market (8:00 AM - 4:30 PM ):</span>
                <span class="market-status" [ngClass]="{'open': ukMarketStatus === 'Open', 'closed': ukMarketStatus === 'Closed'}">{{ ukMarketStatus }}</span>
              </div>
            </div>
          </div>
      </div>

  

      <div class="market-status-message mb-3 mt-4">
        <div>{{ marketTomorrowMessage }}</div>
      </div>
      
    </div>
    <div class="card card-custom mb-3 mt-3" (click)="navigateTo('dividend')">
      <div class="card-body">
        Dividend
      </div>
    </div>
    <div class="card card-custom mb-3" (click)="navigateTo('stock-split')">
      <div class="card-body">
        Stock Split/Rights Issue
      </div>
    </div>
    <div class="card card-custom mb-3" (click)="navigateTo('consolidation')">
      <div class="card-body">
        Consolidation
      </div>
    </div>
    <div class="card card-custom mb-3" (click)="navigateTo('delisting')">
      <div class="card-body">
        Delisting
      </div>
    </div>

  </div>




  <div class="flex-start-wrapper">
    <div class=" card-flex-start" >
      <div class="arrow-cards" (click)="navigateTo('stock-file')">
        <div class="arrow-card">
          <div class="card-body">
            <div class="card-title" style="text-align: center;">Stock File</div>
          </div>
        </div>        
        <div class="arrow-card mt-4" (click)="navigateTo('fund-file')"> 
          <div class="card-body">
            <div class="card-title" style="text-align: center;">Fund File</div>
          </div>
        </div>        
      </div>
    </div>

    <div class="feedback-box">
      <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="feedback-label">Write your feedback:</label>
          <input type="text" class="form-control" id="feedback" formControlName="feedback" class="feedback-input">
          <div *ngIf="feedbackForm.get('feedback')?.invalid && feedbackForm.get('feedback')?.touched" class="invalid-feedback">
            Feedback is required
          </div>
        </div>
        <div class="button-row">
          <button type="submit" class="submit-button">Submit Feedback</button>
          <button type="button" class="additional-button">View Feedbacks</button>
        </div>
      </form>
      
    </div>



    
  </div>
  


