  <div class="container">
    <div class="border-0 rounded-4 p-4">
      <h3 class="mb-4 fw-bold text-center">{{ isEditMode ? 'Edit Consolidation' : 'Add Consolidation' }}</h3>
      <form (ngSubmit)="onSubmit()" class="row g-4">
        <div class="col-12">
          <input type="text" class="form-control shadow-none border" placeholder="Company Name" [(ngModel)]="consolidation.companyName" name="companyName" required>
        </div>
  
        <div class="col-md-6">
          <label for="recordDate" class="form-label">Record Date</label>
          <input type="date" id="recordDate" class="form-control shadow-none border" [(ngModel)]="consolidation.recordDate" name="exDate" required>
        </div>
  
        <div class="col-md-6">
          <label for="paymentDate" class="form-label">Effective Date </label>
          <input type="date" id="paymentDate" class="form-control shadow-none border" [(ngModel)]="consolidation.effectiveDate" name="paymentDate" required>
        </div>
  
        <div class="col-12">
          <textarea rows="4" class="form-control shadow-none border" placeholder="Notes or Description (optional)" [(ngModel)]="consolidation.notes" name="notes"></textarea>
        </div>
  
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary px-5 py-2 shadow-sm rounded-pill">
            {{ isEditMode ? 'Update Consolidation' : 'Add Consolidation' }}
          </button>
        </div>
      </form>
    </div>
  </div>
  