.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container h2 {
  font-size: 1.8rem;
  color: #696969;
  margin-bottom: 20px;
  text-align: center;
}

.company-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 41, 45);
  color: #acacac;
  border: 1px solid rgb(73, 73, 73);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.company-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-card.highlighted {
  border-color: #89d69b;
}

.company-card h3 {
  color: #007bff;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.company-card p {
  color: #b7b7b7;
  margin-bottom: 8px;
}

.company-card strong {
  color: #a8a8a8;
  margin-right: 5px;
}

.dark-mode .container {
  background-color: #fefef5;
  border: 1px solid rgb(220, 220, 220);
  color: #888888;
}

.dark-mode .company-card {
  background-color: #ffffff;
  border: 1px solid rgb(220, 220, 220);
  color: #888888;
}

.dark-mode .company-card.highlighted {
  border: 2px solid #03a426;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .company-card {
    flex-direction: column;
    width: 100%;
  }
}
