<div class="container" [ngClass]="{'dark-mode': isDarkMode}">
  <!-- Add New Dividend Button -->
  <div class="header-actions mb-4 text-end">
    <button class="btn btn-primary" (click)="addNewConsolidation()">
      Add New Consolidation
    </button>
  </div>

  <div *ngFor="let consolidation of companies" class="company-card">
    <div class="company-content" (click)="viewDetails(consolidation)">
      <div class="company-header">
        <h3>{{ consolidation.companyName }}</h3>
        <div class="action-buttons">
          <button class="edit-btn" (click)="editConsolidation(consolidation, $event)">Edit</button>
          <button class="delete-btn" (click)="deleteConsolidation(consolidation, $event)">Delete</button>
        </div>
      </div>

      <div class="company-details">
        <span><strong>Record Date:</strong> {{ consolidation.recordDate | date: 'dd MMMM yyyy' }}</span>
        <span><strong>Effective Date:</strong> {{ consolidation.effectiveDate | date: 'dd MMMM yyyy' }}</span>
      </div>
    </div>
  </div>
</div>


