<div class="container container-custom" [ngClass]="{'dark-mode': isDarkMode}">
    <div class="about-section">
      <h1>About This System</h1>
      <p>This system is designed to provide comprehensive and real-time information on the UK and US stock markets. Currently, the system features:</p>
      <ul>
        <li>Market status updates for both the UK and US markets</li>
        <li>Details on dividends, stock splits, rights issues, consolidations, and delistings</li>
      </ul>
      <p>Our mission is to create a robust platform that offers investors, financial professionals, and enthusiasts a reliable source of market data to help them make informed decisions. At present, the application uses some random data, but we are working on integrating actual data from various companies.</p>
  
      <h2>Future Plans</h2>
      <p>We have ambitious plans for the system, including:</p>
      <ul>
        <li>Integrating real-time data feeds from trusted financial sources</li>
        <li>Expanding the range of financial instruments covered, such as bonds, commodities, and ETFs</li>
        <li>Introducing advanced analytics and visualization tools for better market analysis</li>
        <li>Developing a mobile application to provide on-the-go access to market data</li>
        <li>Adding features for user-customized alerts and notifications</li>
      </ul>
  
      <h2>Improvement Areas</h2>
      <p>As we continue to develop this system, we are focused on several key areas for improvement:</p>
      <ul>
        <li>Enhancing the user interface and user experience to make the platform more intuitive and user-friendly</li>
        <li>Implementing machine learning algorithms for predictive analytics and market trend analysis</li>
        <li>Ensuring data accuracy and reliability by integrating with multiple data sources and cross-referencing information</li>
        <li>Building a strong backend infrastructure to handle large volumes of real-time data</li>
        <li>Improving system security to protect user data and ensure compliance with regulatory standards</li>
      </ul>
  
    </div>
  </div>
  