<div class="container mt-3">
    <div class="footer" [ngClass]="{'dark-mode': isDarkMode}">
  
      <div routerLink="/" class="left">
        <h2 class="mb-2">Hargreaves Lansdown</h2>
        <p>
          <i class="fa fa-envelope"></i> helpdesk@hl.co.uk
        </p>
        <p>
          <i class="fa fa-phone"></i> +44 1700 900 9000
        </p>
      </div>
  
      <div class="center">
        <h2>About Us</h2>
        <p>
            Hargreaves Lansdown is a trading name of Hargreaves Lansdown Asset Management Limited, a company registered in England and Wales with company number 01896481 and authorised and regulated by the Financial Conduct Authority.      </p>
      </div>
  
      <div class="right">
        <h2>Connect With Me</h2>
        <div class="social">
            <a href="https://www.linkedin.com/company/hargreaves-lansdown/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/hargreaveslansdown/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a>
            <a href="https://www.hl.co.uk/" target="_blank" class="social-icon"><i class="fa fa-globe"></i></a>
            
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 | Hargreaves Lansdown. All rights reserved.</p>
    </div>
  </div>
  