<div class="container">
  <div class="border-0 rounded-4 p-4">
    <h3 class="mb-4 fw-bold text-center">{{ isEditMode ? 'Edit Dividend' : 'Add New Dividend' }}</h3>
    <form (ngSubmit)="onSubmit()" class="row g-4">
      <div class="col-12">
        <div class="row g-3 align-items-center">
          <div class="col-auto col-md-6 d-flex align-items-center">
            <label class="me-2 fw-bold mb-0">Overseas</label>
            <mat-slide-toggle [(ngModel)]="isOverseas" name="isOverseas" class="overseas-toggle" disableRipple>
          </mat-slide-toggle>
          </div>

          <div *ngIf="isOverseas" class="col-md-6">
            <input type="number" class="form-control shadow-none border" placeholder="Withholding Tax (%)"
              [(ngModel)]="dividend.withholdingTax" name="withholdingTax" min="0" max="100">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" class="form-control shadow-none border" placeholder="Company Name"
              [(ngModel)]="dividend.companyName" name="companyName" required>
          </div>
          <div class="col-md-6">
            <input type="number" class="form-control shadow-none border" placeholder="Dividend Amount"
              [(ngModel)]="dividend.dividendAmount" name="dividendAmount" required>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="exDate" class="form-label">Ex-Date</label>
        <input type="date" id="exDate" class="form-control shadow-none border" [(ngModel)]="dividend.exDate"
          name="exDate" required>
      </div>

      <div class="col-md-6">
        <label for="paymentDate" class="form-label">Payment Date</label>
        <input type="date" id="paymentDate" class="form-control shadow-none border" [(ngModel)]="dividend.paymentDate"
          name="paymentDate" required>
      </div>
      <div class="col-12">
        <textarea rows="4" class="form-control shadow-none border" placeholder="Notes or Description (optional)"
          [(ngModel)]="dividend.notes" name="notes"></textarea>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <button *ngIf="isEditMode" type="button" class="btn btn-outline-primary px-4 py-2 shadow-sm rounded-pill"
          (click)="onPrevious()" [disabled]="currentFormIndex === 0">
          Previous
        </button>
        <button type="submit" class="btn btn-primary px-5 py-2 shadow-sm rounded-pill mx-auto">
          {{ isEditMode ? (isAddingNew ? 'Add Dividend' : 'Update Dividend') : 'Add Dividend' }}
        </button>
        <button *ngIf="isEditMode" type="button" class="btn btn-outline-primary px-4 py-2 shadow-sm rounded-pill"
          (click)="onNext()">
          Next
        </button>
      </div>
    </form>
  </div>
</div>
