<div class="container" [ngClass]="{'dark-mode': isDarkMode}">
    <div *ngFor="let company of companies" class="company-card"
    (click)="viewDetails(company)"
    [ngClass]="{'highlighted': isInCurrentMonth(company.descriptionDate)}">
      <h3>{{ company.name }}</h3>
      <p>{{ company.descriptionDate | date: 'dd MMMM yyyy' }}</p>
      <p><strong>Record Date:</strong> {{ company.recordDate | date: 'dd MMMM yyyy' }}</p>
      <p><strong>Effective Date:</strong> {{ company.effectiveDate | date: 'dd MMMM yyyy' }}</p>
    </div>
  </div>
  
