   <div class="container p-5" [ngClass]="{'dark-mode': isDarkMode}">

    <div class="w-75 mx-auto d-flex justify-content-between align-items-center px-1 mb-1">
      <div class="text-start">
        <div class="fw-bold mb-0 pb-0">Record Date</div>
        <div class="small mt-0 pt-0">{{ companyDetails?.recordDate | date: 'dd MMM yyyy'  }}</div>
      </div>
    
      <div class="position-relative w-75" style="height: 20px;">
        <div class="position-absolute top-50 start-0 translate-middle-y w-100"
          style="height: 4px; background-color: #0d6efd;"></div>
    
        <div class="position-absolute top-50 start-0 translate-middle"
          style="width: 14px; height: 14px; background-color: #228B22; border-radius: 50%; border: 2px solid white;">
        </div>
    
        <div class="position-absolute top-50 end-0 translate-middle"
          style="width: 14px; height: 14px; background-color: #228B22; border-radius: 50%; border: 2px solid white;">
        </div>
    
        <!-- Moving dot -->
        <div class="position-absolute" [ngStyle]="{ left: trackPosition + '%', top: '0' }"
          style="transform: translateX(-50%); display: flex; flex-direction: column; align-items: center;">
          <div style="width: 20px; height: 20px; background-color: #dc3545; border-radius: 50%; border: 3px solid white;">
          </div>
          <div style="margin-top: 8px; font-size: 12px; color: orange; text-align: center; white-space: nowrap;">
            {{ currentDate | date: 'dd MMM yyyy' }}<br />
            Days Left: {{ daysLeft }}
          </div>
        </div>
      </div>
    
      <div class="text-end">
        <div class="fw-bold mb-0 pb-0">Effective Date</div>
        <div class="small mt-0 pt-0">{{ companyDetails?.effectiveDate | date: 'dd MMM yyyy' }}</div>
      </div>
    </div>
  
  
  
  
  
    <!-- Company Name and Key Dates Section -->
    <div class="company-section mb-4 mt-4">
   <div>
    <h3>{{ companyDetails?.companyName }}</h3>
    <p class="fw-bold">Key Dates:</p>
    <ul>
      <li><strong>Record Date:</strong> {{companyDetails?.recordDate | date: 'dd MMM yyyy'}}</li>
      <li><strong>Effective Date:</strong> {{ companyDetails?.effectiveDate | date: 'dd MMM yyyy' }}</li>
    </ul>
   </div>
  

    </div>
  
    <!-- Notes Section -->
    <div *ngIf="companyDetails?.notes" class="company-section mt-4">
      <h3>Notes</h3>
      <p>{{ companyDetails?.notes }}</p>
    </div>
  
  
  </div>